@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700');
@import url('https://fonts.googleapis.com/css?family=VT323');

body {
  background-color: #152347;
  color: #ffffff;
  font-family: 'Roboto Condensed', sans-serif;
}

.container {
  margin: auto;
  max-width: 600px;
  padding: 20px;
}

.header {
  text-align: center;
  margin-bottom: 20px;
}

.game {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #e63946;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  margin-bottom: 20px;
}

.cell {
  background-color: #1d3557;
  border-radius: 20px;
  width: 100%;
  padding-bottom: 100%;
  position: relative;
  overflow: hidden;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.cell::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  height: 60%;
  background-repeat: no-repeat;
  background-size: contain;
}

.cell[data-value="X"]::before {
  background-image: url("https://i.imgur.com/03dNlU6.png");
}

table {
  width: 90%;
  max-width: 500px;
  margin: 0 auto;
}

td {
  height: 80px;
  width: 80px;
  font-size: 50px;
}


.cell[data-value="O"]::before {
  background-image: url("https://i.imgur.com/9og9cBo.png");
}

